.container {
  display: grid;
  grid-template-areas:
    "header header header"
    " left left right";
  margin: 0 auto;
}

.video-player-container {
  grid-area: left;
  background-color: rgb(204, 195, 177);
}

.meeting-information-container {
  grid-area: right;
  background-color: rgb(179, 204, 177);
  text-align: center;
}
